# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# macOS
.DS_Store

# temporary files that will be created during running
toywal_demo.log
toywal_checkpoint.json
wal.log
checkpoint.json